/* styles.css */
* {
    margin: 0px;
}

body {
    background-color: antiquewhite;
}

.body-container {
    background-color: whitesmoke;
    width: 500px;
    height: auto;
    margin: auto;
    text-align: center;
}

h1 {
    display: block;
    background-color: peru;
    width: 500px;
    height: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

a {
    background-color: darkcyan;
    width: 200px;
    height: 40px;
    border: 5px lightskyblue;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover {
    background-color: lightskyblue;
}